﻿<!DOCTYPE html>

<html ng-app="sonosipApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Sonosip</title>
    <link rel="stylesheet" type="text/css" href="@Path['~/Content/font-awesome/css/font-awesome.min.css']" />
    <link rel="stylesheet" type="text/css" href="@Path['~/Content/bootstrap.min.css']" />

    <style>
      body { padding-top: 70px; }
      
      .callItemBlink {
      
        -webkit-animation-name: backgroundBlink;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        
        animation-name: backgroundBlink;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      
      .callItemSpeaking{
        background: #5cb85c;
        color:white;
      }
      .callItemWaiting{
        background: #f0ad4e;
        color:white;
      }
      .callItemDisconnecting{
        background: #d9534f;
        color:white;
      }
      
      @-webkit-keyframes backgroundBlink
      {
      from {background: #f0ad4e;}
      to {background: white;}
      }

      @keyframes backgroundBlink
      {
        from {background: #f0ad4e;}
        to {background: white;}
      }
    </style>
  </head>
  <body ng-controller="CallListCtrl">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            <i class="fa fa-fw fa-volume-up"></i> Sonosip
          </span>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <a href="@Path['~/Logout']" class="btn btn-default navbar-btn navbar-right">
            <i class="fa fa-fw fa-lock"></i> Déconnexion
          </a>
        </div>
      </div>
    </nav>


    <div class="container">
      <h4>
        <i class="fa fa-fw fa-group"></i> Participants
      </h4>
      <ul class="list-group">
          <li class="list-group-item" ng-repeat="call in calls track by $index" ng-if="call.State > 4" ng-class="{callItemBlink:call.State == 7, callItemSpeaking:call.State == 8, callItemWaiting:call.State == 5, callItemDisconnecting:call.State == 9}">
              <div class="row">
                  <div class="col-md-8">
                      <p>
                          <i class="fa fa-fw fa-{{call.State|callstateicon}}"></i>
                          <strong>{{call.ParticipantName}}</strong> - {{call.State|callstate}}
                      </p>
                  </div>
                  <div class="col-md-4">
                      <div class="pull-right">
                          <button type="button" class="btn btn-success" ng-click="connectMicrophone(call.Id)" ng-if="call.State == 7">
                              <span class="fa fa-fw fa-check"></span> Accepter
                          </button>
                          <button type="button" class="btn btn-danger" ng-click="cancelSpeakRequest(call.Id)" ng-if="call.State == 7">
                              <span class="fa fa-fw fa-times"></span> Annuler
                          </button>
                          <button type="button" class="btn btn-danger" ng-click="disconnectMicrophone(call.Id)" ng-if="call.State == 8">
                              <span class="fa fa-fw fa-times"></span> Annuler
                          </button>
                      </div>
                  </div>
              </div>
          </li>
      </ul>

    </div>

    <script>
      var rootApiUrl = '@Path['~/api/']';
    </script>
    <script src="@Path['~/Scripts/jquery-2.1.1.min.js']"></script>
    <script src="@Path['~/Scripts/bootstrap.min.js']"></script>
    <script src="@Path['~/Scripts/angular.min.js']"></script>
    <script src="@Path['~/Scripts/controllers.js']"></script>

  </body>
</html>